<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button [routerLink]="['/']" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A velit architecto, veritatis repellendus rem quasi,
      rerum ut, quam sint illo dolore amet dolorem magni saepe autem aliquam cupiditate voluptatibus molestiae!
      Eius quos ab provident adipisci aut dolor ipsam voluptas doloribus deserunt. Deleniti fuga voluptate ad nobis
      beatae ut tempora maiores, aspernatur ipsa voluptas odio qui architecto, numquam dolorem debitis iure.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. A velit architecto, veritatis repellendus rem quasi,
      rerum ut, quam sint illo dolore amet dolorem magni saepe autem aliquam cupiditate voluptatibus molestiae!
      Eius quos ab provident adipisci aut dolor ipsam voluptas doloribus deserunt. Deleniti fuga voluptate ad nobis
      beatae ut tempora maiores, aspernatur ipsa voluptas odio qui architecto, numquam dolorem debitis iure.
    </p>
  </div>

</div>