<div *ngIf="post$ |async as post; else loading">
  <div class="post">
    <div class="header">
      <h1>{{post.title}}</h1>
      <button [routerLink]="['/']" class="btn btn-link">Home</button>
    </div>

    <div class="info">
      <strong>{{post.author}}</strong>
      <small>{{post.date | date: 'medium'}}</small>
    </div>

    <div>
      <quill-view [content]="post.text"></quill-view>
    </div>
  </div>
</div>


<ng-template #loading>
  <p class="text-center">Loading post...</p>
</ng-template>