footer {
  color: #fff;
  width: 100%;
  background-color: #5668b9;
  padding: 1rem;

  display: flex;
  justify-content: center;


  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;


  .footer__icons {
    display: flex;

    .icon {
      margin-left: 20px; 
    }

      a {
        text-decoration: none;
        color: #fff;
      
          i {
            font-size: 23px;
          }
      }
  }
}