<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Contact form</h2>

  <div class="form-control" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
    <label for="email">Email:</label>
    <input id="email" type="email" placeholder="email" formControlName="email">
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
      <small *ngIf="form.get('email')?.errors?.required">
        Enter the email field
      </small>
      <small *ngIf="form.get('email')?.errors?.email">
        Please enter a valid email
      </small>
    </div>
  </div>

  <div class="form-control" [ngClass]="{invalid: form.get('text')?.touched && form.get('text')?.invalid}">
    <label for="text">Text:</label>
    <input id="text" type="text" placeholder="text" formControlName="text">
    <div *ngIf="form.get('text')?.touched && form.get('text')?.invalid" class="validation">
      <small *ngIf="form.get('text')?.errors?.required">
        A password is required
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enter</button>
</form>