<div class="form-control">
  <input type="text" placeholder="Find post..." [(ngModel)]="searchTasks">
</div>

<div class="form-control">
  <button filterStyle class="btn btn-dark" (click)="filter('all', $event)">all</button>
  <button filterStyle class="btn btn-dark" (click)="filter('all', $event)">completed</button>
  <button filterStyle class="btn btn-dark" (click)="filter('all', $event)">incompleted</button>
</div>

<!-- <div *ngIf="!loading; else loading"> -->
<div *ngIf="tasks.length; else noTodos">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let task of tasks | searchTasks: searchTasks | filterTasks: filterStatus" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <p>
        <span [class.completed]="task.status">{{task.text | titlecase}}</span>
      </p>
      <p class="edit" [routerLink]="['/admin', 'task', task.id, 'edit']">edit task</p>
      <span class="btn-control">
        <button class="btn btn-red" (click)="remove(task.id)">delete</button>
        <button class="btn btn-completed" (click)="completedTask(task.id, task.status)">To complete</button>
      </span>
    </div>
  </div>
</div>

<ng-template #noTodos>
  <p>No tasks</p>
</ng-template>
<!-- </div> -->

<ng-template #loading>
  <p class="text-center">Loading in progress...</p>
</ng-template>

<!-- <div *ngIf="!loading; else loading"> -->
<!-- <div *ngIf="tasks.length; else noTodos">
  <div cdkDropList class="card" *ngFor="let task of tasks | 
    searchTasks: searchTasks | 
    filterTasks: filterStatus" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <p>
      <span [class.completed]="task.status">{{task.text | titlecase}}</span>
      <span>
        <button class="btn btn-danger" (click)="remove(task.id)">Удалить</button>
        <button class="btn" (click)="completedTask(task.id, task.status)">Завершить</button>
      </span>
    </p>
    <p class="edit" [routerLink]="['/admin', 'task', task.id, 'edit']">edit task</p>
  </div>
</div> -->